@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: unset;
  border-spacing: 0px 2px;
}

@media (max-width:1080px){
  html{
    font-size: 93.75%;
  }
}
@media (max-width:720px){
  html{
    font-size: 87.5%;
  }
}

textarea{
  resize: none;
}

body{
  background: #FFFF;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}


button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit; /* Ou defina uma cor específica, se preferir */
}
